# history files
.zsh-history
.bash_history
.gnuplot_history

# etc
.zcompdump
.DS_Store
.minttyrc
.viminfo


# bin files
bin/*
!tenki
!javalipse
!texenv
!chcolor
!gitch
!setsubl
!guid
!committer
