[user]
	email = world_fantasy_2017@live.jp
	name = nobuyo

[alias]
	a = add
	aa = add -A
	amend = commit --amend
	amendm = commit --amend -m
	b = branch
	c = commit
	cm = commit -m
	cam = commit -am
	acm = "!f(){ git commit -m "\"$(committer)\""; }; f"
	acam = "!f(){ git commit -am "\"$(committer)\""; }; f"
	ch = checkout
	chb = checkout -b
	chm = checkout master
	d = diff
	f = fetch
	l = log
	lp = log -p
	pob = "!f(){ push origin $1;};f"
	pom = push origin master
	update = pull origin master
	r = remote
	ru = remote update
	rv = remote -v
	s = status
	ss = status -s
	undo = reset HEAD~1 --mixed
	unstage = reset HEAD
	ver = !git --version